@charset "utf-8";
/* CSS Document */

.carInformation {
    margin: auto;
    text-align: center;
    font-size: 16px;
    /*margin-bottom: 90px;*/
}

.carInformation h1 {
    text-align: left;
    font-size: 22px; /*color: #c43027;*/
    margin: 15px 0px;
    border-left: 5px solid #c43027;
    padding-left: 10px;
}

.lineRed {
    height: 2px;
    background: #c43027;
}
.box{
    background-color: white;
}
.myOrderClassify {
    text-align: left;
    font-size: 18px;
    margin: 0px 20px;
    margin-bottom: 10px;
    height: 30px;
}
.myOrderClassify {
    text-align: left;
    font-size: 18px;
    margin: 0px 15px;
    margin-bottom: 25px;
   /* border-bottom: 1px solid #E4E4E4;*/
}

.myOrderClassify .choose{
	float: left;
	margin-right: 200px;
}
.myOrderClassify .calendar{
	float: right;
	
	margin-top: -25px;
}
.calendar button{
	margin-top: 20px;
	width: 100px;
	color: #fff;
	height: 35px;
	line-height: 35px;
	cursor: pointer;
}
.calendar .soldOut{
	background: url(../imgs/soldOut.png);
}
.calendar .putaway{
	background: url(../imgs/putaway.png);
}
.calendar .del{
	background: url(../imgs/del.png);
	width: 75px;
}
.myOrderClassify .quanSlect{
	float: left;
	text-align: left;
    font-size: 18px;
    padding: 6px 30px;
    /*height: 65px;
    margin-top: 20px;*/
}
.quanSlect .calendar{
	width: 30px;
	height: 30px;
	float: right;
	background: url(../imgs/calendar.png) no-repeat;
	margin-left: 25px;
	cursor: pointer;
	margin-top: 0px;
}


.quanSlect input[type="radio"] {
    margin: 3px 3px 0px 5px;
    display: none;
}
.myOrderClassify .quanSlect label{
	padding-left: 52px;
    cursor: pointer;
    background: url(../imgs/total_delete.png)no-repeat;
    background-position: -3px -26px;
    font-size: 18px;
    width: 61px;
    height: 70px;
}
.myOrderClassify span:nth-child(2){
	margin:0 15px;
}


.myOrderClassify span {
    display: inline-block;
    /*margin-top: 20px;*/
    padding-bottom: 10px;
    width: 55px;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}
.selectedCss {
    border-bottom: 3px solid #e30e11;
    color: #e30e11;
}
.totalSelect {
    text-align: left;
    font-size: 18px;
    /*color: #c43027;*/
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
   /* margin-top: 20px;*/
  /*  border-bottom: 1px solid #e4e4e4;*/
}

.totalSelect span {
    background: url(../imgs/delet.png) no-repeat;
    height: 25px;
    width: 24px;
    float: right;
    margin-right: 20px;
    margin-top: 6px;
}

.totalSelect input[type="radio"] {
    margin: 3px 3px 0px 5px;
    display: none;
}

.totalSelect label {
    padding-left: 55px;
    cursor: pointer;
    background: url(../imgs/total_delete.png) no-repeat;
    background-position: 12px -26px;
    /*background: url(../imgs/select.png) no-repeat;*/
    /* background-position:center;*/
    margin-left: 704px;
}

.quanSlect label.checked {
	 padding-left: 30px;
    background-position: -25px -1px;
    margin-left: 20px;
}
.carInformation ul {
    padding:0px 14px;
    background-color: white;
   /* margin-top: 15px;*/
   /* border: 1px solid #E4E4E4;*/
}
.carInformation li:nth-of-type(1){
	border-top:1px solid #E4E4E4 ;
}
.carInformation li {
    padding: 15px 0;
    text-align: left;
    /*cursor: pointer;*/
    border-bottom: 1px solid #E4E4E4;
    border-left: 1px solid #E4E4E4;
    border-right: 1px solid #E4E4E4;
}

.carInformation li .lineButton {
    display: block;
    height: 1px;
    background: #e4e4e4;
    margin-top: 20px; /*margin-left: 35px;*/
}

.carInformation li img {
    /* margin-top: 3px;
    margin-right: 20px;
    margin-left: 20px; */
}

.carInformation .describeR {
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

.describeR p {
    font-size: 15px;
    color: #666;
    line-height: 25px;
    width: 360px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.describeR p:first-child {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 20px;
}

/*.describeR p:nth-child(2) {
    font-size: 22px;
    color: #c43027;
}*/

.describeR em {
    font-size: 16px;
}

.carImg {
    height: 130px;
    width: 130px;
    display: inline-block;
    margin: 3px 20px 0px 20px;
}
.carImg img{
    width: 100%;
    height: 100%;
}
.line {
    border-top: 1px solid #e4e4e4;
}

/*.carInformation li:nth-child(2n){height: 1px;background: #e4e4e4;padding: 0;margin: 0;margin-left:45px;}*/

.carInformation ul input[type="checkbox"] {
    margin: 3px 3px 0px 5px;
    display: none;
}

.carInformation ul label {
    display: inline-block;
    height: 26px;
    padding-left: 20px;
    cursor: pointer;
    background: url(../imgs/total_delete.png) no-repeat;
    background-position:-27px -26px;
    vertical-align: top;
    margin-top: 60px;
    margin-left: 20px
}


.carInformation ul label.checked {
    display: inline-block;
    background-position: -27px 0px;
    margin-top: 60px;
    margin-left: 20px;
}

/*--------------carInformation_two------------------*/
.carInforTwoPage img {
   width: 100%;
   height: 100%;
}

.carInforTwoPage .describeR p:nth-child(2) {
    font-size: 14px;
    color: #999;
}

.carInforTwoPage ul label.checked {
    display: inline-block;
    /*background-position: -27px 0px;
    margin-top: 25px;*/
}

.carInforTwoPage ul .compile1{
    width: 100px;
    height: 40px;
    font-size: 15px;
    color: #4cab73;
    float: right;
    text-align: center;
    line-height: 40px;
    /*cursor: pointer;*/
    margin-top: 40px;
    margin-right: 45px;
    
}
.carInforTwoPage ul .compile0 {
    width: 100px;
    height: 40px;
    font-size: 15px;
    color: #a0a0a0;
    float: right;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    margin-top: 40px;
    margin-right: 45px;
}
.carInforTwoPage ul .Hasbeen {
    width: 100px;
    height: 40px;
   /* font-size: 18px;*/
    color: #5093dd;
    float: right;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    margin-top: 40px;
    font-size: 15px;
}



.carInforTwoPage ul label {
    /*margin-top: 25px;*/
    /*margin-right: 0px;*/
}

/*----------------personal_home_my_options------------------------*/
.personalOptions .personDown {
    margin-top: 5px;
}

.pageOne, .pageTwo, .pageThree, .pageFour {
    display: inline-block;
    width: 14px;
    height: 17px;
    background: url(../imgs/page.png) no-repeat;
    background-size: 100px auto;
    background-position: 1px 1px;
    margin: 0 5px;
    margin-bottom: -3px;
}

.pageTwo {
    background-position: -10px 1px;
}

.pageThree {
    background-position: -22px 1px;
}

.pageFour {
    background-position: -33px 1px;
    margin-right: 20px;
}
.jumpPage{padding: 40px 0;height: 30px;text-align: center;color: #666;}

.jumpPage span {
    color: #666;
}

.jumpPage em {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #f25854;
    border-radius: 50px;
    line-height: 30px;
    margin: 0 10px;
    margin-top: -2px;
}

.jumpPage input, .jumpPage button {
    width: 60px;
    height: 30px;
    border: 1px solid #e4e4e4;
    margin: 0 10px;
    border-radius: 5px;
    padding-left: 5px
}

.jumpPage button {
    background: none;
    text-align: center;
    border-color: #c43027;
    margin-left: 0px;
    color: #c43027;
    padding: 0px;
}

.compile {
    cursor: default;
}

.inforOne .orderList:nth-child(1) {
    background: #dd2c26;
    color: #fff !important;
    border-radius: 0px 50px 50px 0px
}

.inforOne .orderList:nth-child(1) a {
    color: #fff;
}

.inforOne .orderList:nth-child(1) em {
    display: inline-block;
    width: 26px;
    height: 21px;
    background: url(../imgs/personal_icon.png) no-repeat;
    background-position: 0px -1px;
    margin-right: 10px;
    margin-bottom: -3px;
}

.navigationBarUl li:nth-child(5) {
    /*background: #c43027 !important;*/
    border:2px solid #f2f1f1;
    border-bottom:3px solid #cc1612;
}

.inforTwo .orderList:nth-child(3), .myOptions .orderList:nth-child(4) {
       background: #dd2c26;
    color: #fff !important;
    border-radius: 0px 50px 50px 0px;
}

.inforTwo .orderList:nth-child(3) a, .myOptions .orderList:nth-child(4) a {
    color: #fff;
}

.inforTwo .orderList:nth-child(3) em {
    display: inline-block;
    width: 26px;
    height: 21px;
    background: url(../imgs/personal_icon.png) no-repeat;
    background-position: -52px -1px;
    margin-right: 10px;
    margin-bottom: -3px;
}

.myOptions .orderList:nth-child(4) em {
    display: inline-block;
    width: 26px;
    height: 24px;
    background: url(../imgs/personal_icon.png) no-repeat;
    background-position: -78px -1px !important;
    margin-right: 10px;
    margin-bottom: -3px;
}


/****实现导航根据右侧内容高度动态变化****/
.pesonalCenterHome{
    position: relative;
}
.pesonalCenterHomeL{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.pesonalCenterHomeR{
    margin-left: 240px;
    
}
/****end 实现导航根据右侧内容高度动态变化****/
.checkT li .price1 {
    float: right;
    /* background: #dc2827; */
    /* color: white; */
    padding: 10px 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 18px;
    color: #dc2726;
    margin-top: 45px;
    font-weight:bold ;
}

.personalOptions ul .Hasbeen{
    width: 100px;
    height: 40px;
    /* font-size: 18px; */
    color: #5093dd;
    float: right;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    margin-top: 40px;
    font-size: 15px;
}
.personalOptions ul .compile1{
    width: 100px;
    height: 40px;
    font-size: 15px;
    color: #4cab73;
    float: right;
    text-align: center;
    line-height: 40px;
    margin-top: 40px;
    margin-right: 45px;
}
.personalOptions ul .compile0 {
    width: 100px;
    height: 40px;
    font-size: 15px;
    color: #a0a0a0;
    float: right;
    text-align: center;
    line-height: 40px;
    margin-top: 40px;
    margin-right: 45px;
}