.orderList:nth-child(5) {
    background: #dd2c26;
    color: #fff !important;
    border-radius: 0px 50px 50px 0px;
}
.orderList:nth-child(5) a {
    color: #fff;
}
.nBList:nth-child(5) {
    /* background: #c43027; */
    border: 2px solid #f2f1f1;
    border-bottom: 3px solid #cc1612;
}
.orderBox {
    text-align: left;
     padding-left: 15px; 
    /* padding: 20px; */
    background-color: white;
    /* margin-top: 20px; */
    /*border: 1px solid #E4E4E4;*/
}
.pesonalCenterHome {
    position: relative;
}

.pesonalCenterHomeL {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.pesonalCenterHomeR {
   
   margin-left: 240px;
}
.orderBox p{
	font-size: 15px;
	font-weight: bold;
}
.carBottom .star7 img:nth-of-type(1){
	margin-left: 26px;
}
.carBottom div:nth-of-type(1) {
	
   overflow: initial;
 
}
.myOrder .orderBox span {
    width: 500px;
    float: right;
    font-weight: normal;
    border-left: 1px solid #e4e4e4;
    padding-left: 20px;
}
.myOrder .orderBox span .pricel{
	color: #e54b23;
}
.myOrder .orderBox span{
    width: 630px;
    float: right;
    border-left: 1px solid #e4e4e4;
    padding-left: 20px;
}
.myOrder .orderBox p:nth-child(1){
	border-top: 1px solid #e4e4e4;
}
.myOrder .orderBox p {
	line-height: 40px;
    height: 40px;
    
    border-bottom:1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4 ;
    border-left:1px solid #e4e4e4 ;
    padding-left: 125px;
}
.recommend{
	padding-left: 15px;
}




.recently {
    position: relative;
    margin-top: 45px;
    margin-bottom: 45px;
    font-weight: bold;
    font-size:16px ;
    font-weight: bold;
}
.recommend .recently .more{
	float: right;
	width: 100px;
	height: 40px;
	font-size: 15px;
	line-height: 35px;
	background:#e54b23;
	color: #fff;
}
.recommend .recently .underline {
    position: absolute;
    left: 0px;
    bottom: -10px;
    height: 3px;
    width: 35px;
    background: #dd2c26;
}
.recommendT {
    font-size: 0;
    /* max-height: 866px; */
    /* overflow-y: hidden; */
    display: inline-block;
    margin-left: 30px;
}
.recommendT li{
    /* display: inline-block; */
    float: left;
    margin-right: 10px;
    margin-bottom: 30px;
    vertical-align: top;
}

